footer {
    background: url(../../../../assets/img/background-rodape.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.1% 0;
    z-index: 1;
}

footer .reserved {
    white-space: nowrap;
}

footer p {
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
}

footer img {
    width: 40px;
    height: 57px;
}